.container {

	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	margin-top:2%;
	border: 1px solid green;

	max-width:800px;
	min-width:500px;  

}

.card {
	margin:auto;
	padding:10px;  
}

.info, .botones {
	text-align:center; 
}

.acciones { 
	margin:auto; 
	padding:2px;
}

.atras {
	text-decoration:none; 
	background:#594BCE;
	color:#fff; 
	padding:3px; 
}

.actualizar {
	text-decoration:none; 
	background:#493042;
	color:#fff; 
	padding:3px; 
}

img {
	width:240px;
	height:240px; 
	border:8px solid red; 
	opacity:0.8;
	border-radius:50%;   
}