.fondo {
	background:url("../assets/img/background-2.jpg");
	background-size:100%; 
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(5px);
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:-100; 
}

.container {

	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	margin-top:2%;
	max-width:800px;
	min-width:500px;  
	opacity:0.9; 

}

.card {
	margin:auto;
	padding:10px;  
}

.info, .botones {
	text-align:center; 
}

.acciones { 
	margin:auto; 
	padding:2px;
}

.atras {
	text-decoration:none; 
	background:#594BCE;
	color:#fff; 
	padding:3px; 
}

.actualizar {
	text-decoration:none; 
	background:#493042;
	color:#fff; 
	padding:3px; 
}

img {
	width:240px;
	height:240px; 
	border:8px solid red; 
	opacity:0.8;
	border-radius:50%;   
}

